/BeatNumberSquare.class
/BeatNumbers.class
/Colors.class
/ControlButtons.class
/Header.class
/NoteSquare.class
/SoundBank.class
/SoundChooser.class
/SoundNameBox.class
/Tracks.class
/View.class
/Window.class
